<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thesis.hfu.eventmy" >

    <application
            android:name=".objects.Global"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name=".activities.RegistrationActivity"
                android:label="Registrierung" >
        </activity>

        <activity
                android:name=".activities.SearchActivity"
                android:label="Suche" >
        </activity>

        <activity
            android:name=".activities.CreateEventActivity"
            android:label="Neu" >
        </activity>

        <activity
            android:name=".activities.AllEventsActivity"
            android:label="Events" >
        </activity>

        <activity
                android:name=".activities.CreateTaskActivity"
                android:label="Neu" >
        </activity>

        <activity
                android:name=".activities.AllTasksOfEventActivity"
                android:label="Aufgaben" >
        </activity>

        <activity
                android:name=".activities.EventOrganizersActivity"
                android:label="Hinzufügen" >
        </activity>

        <activity
                android:name=".activities.FriendslistActivity"
                android:label="Freundesliste" >
        </activity>

        <activity
                android:name=".activities.EditTaskActivity"
                android:label="Details" >
        </activity>

        <activity
                android:name=".activities.TaskOrganizersActivity"
                android:label="Bearbeiter" >
        </activity>

        <activity
                android:name=".activities.CommentOnEventActivity"
                android:label="Details" >
        </activity>

        <activity
                android:name=".activities.ArchivedEventsActivity"
                android:label="Archiv" >
        </activity>
    </application>

    <!--  Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
