<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thesis.hfu.eventme" >

    <application
            android:name="thesis.hfu.eventme.objects.Global"
        android:allowBackup="true"
        android:icon="@drawable/event_me_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="thesis.hfu.eventme.activities.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
                android:name="thesis.hfu.eventme.activities.RegistrationActivity"
                android:label="Registrierung" >
        </activity>

        <activity
                android:name="thesis.hfu.eventme.activities.SearchActivity"
                android:label="Suche" >
        </activity>

        <activity
            android:name="thesis.hfu.eventme.activities.CreateEventActivity"
            android:label="Neu" >
        </activity>

        <activity
            android:name="thesis.hfu.eventme.activities.AllEventsActivity"
            android:label="Events" >
        </activity>

        <activity
                android:name="thesis.hfu.eventme.activities.CreateTaskActivity"
                android:label="Neu" >
        </activity>

        <activity
                android:name="thesis.hfu.eventme.activities.AllTasksOfEventActivity"
                android:label="Aufgaben" >
        </activity>

        <activity
                android:name="thesis.hfu.eventme.activities.EventOrganizersActivity"
                android:label="Hinzufügen" >
        </activity>

        <activity
                android:name="thesis.hfu.eventme.activities.FriendslistActivity"
                android:label="Freundesliste" >
        </activity>

        <activity
                android:name="thesis.hfu.eventme.activities.EditTaskActivity"
                android:label="Details" >
        </activity>

        <activity
                android:name="thesis.hfu.eventme.activities.TaskOrganizersActivity"
                android:label="Bearbeiter" >
        </activity>

        <activity
                android:name="thesis.hfu.eventme.activities.CommentOnEventActivity"
                android:label="Details" >
        </activity>

        <activity
                android:name="thesis.hfu.eventme.activities.ArchivedEventsActivity"
                android:label="Archiv" >
        </activity>

        <activity
                android:name="thesis.hfu.eventme.activities.ImpressumActivity"
                android:label="Impressum" >
        </activity>
    </application>

    <!--  Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
